# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MyCourseWork.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Универ\2Семестр\Курсовая\MyCourseWork\.idea\.idea.MyCourseWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
